<div class="call-to-action">
      <p>Möchtest du keinen Artikel mehr verpassen?</p>

      <form action="//usabilityreport.us15.list-manage.com/subscribe/post?u=b505ff4d23b667225e930d91e&amp;id=d1bd351cfb" method="post" target="_blank">
        <div class="input-container">
          <div id="bear-trap" aria-hidden="true"><input type="text" name="b_b505ff4d23b667225e930d91e_d1bd351cfb" tabindex="-1" value=""></div>

          <input type="email" placeholder="Email-Adresse">
          <input type="submit" name="subscribe" value="Beantragen">

        </div>
      </form>
  </div>


  <!-- <div class="frontpage-link">
    <a href="/">Zurück zur Startseite</a>
  </div> -->


  <div class="related">
    {% unless page.category == null %}
      {% assign maxRelated = 3 %}
      {% assign minCommonTags = 1 %}
      {% assign maxRelatedCounter = 0 %}

    <div>
      <h2>Verwandte Artikel:</h2>
      {% for post in site.posts %}
        {% assign sameTagCount = 0 %}
        {% assign commonTags = '' %}

      {% for category in post.categories %}
        {% if post.url != page.url %}
          {% if page.categories contains category %}
            {% assign sameTagCount = sameTagCount | plus:1 %}

            {% capture tagmarkup %}
            <span>{{ category }}</span>
            {% endcapture %}

            {% assign commonTags = commonTags | append: tagmarkup %}
          {% endif %}
        {% endif %}
        {% endfor %}

        {% if sameTagCount >= minCommonTags %}

      <div>
        <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
      </div>

      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %} {% if maxRelatedCounter >= maxRelated %} {% break %} {% endif %} {% endif %} {% endfor %}
    </div>
    {% endunless %}
  </div>
</div>
