<div class="footer">



  <div class="footer-form">
      <p>Möchtest du keinen Artikel mehr verpassen?</p>


      <form action="//usabilityreport.us15.list-manage.com/subscribe/post?u=b505ff4d23b667225e930d91e&amp;id=d1bd351cfb" method="post" target="_blank">
        <div class="input-container">
          <div id="bear-trap" aria-hidden="true"><input type="text" name="b_b505ff4d23b667225e930d91e_d1bd351cfb" tabindex="-1" value=""></div>

          <input type="email" placeholder="Email-Adresse">
          <input type="submit" name="subscribe" value="Beantragen">

        </div>
      </form>
  </div>

  <!-- 2015 -->
  <a href="/impressum">© 20{{ site.time | date: '%y' }}</a> |
  <a href="/contact">Kontakt</a> |
  <a href="/feed.xml">RSS</a>

</div>
