<div class="footer">

  <a href="{{site.baseurl}}/impressum">© 2015 - 20{{ site.time | date: '%y' }}</a> |
  <a href="{{site.baseurl}}/contact">Kontakt</a> |
  <a href="{{site.baseurl}}/feed.xml">RSS</a>

  <div class="form">

    <p>Lass dich automatisch über neue Artikel benachrichtigen!</p>

    <form class="form" action="//usabilityreport.us15.list-manage.com/subscribe/post?u=b505ff4d23b667225e930d91e&amp;id=d1bd351cfb" method="post" target="_blank">
      <div class="email-field">

        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b505ff4d23b667225e930d91e_d1bd351cfb" tabindex="-1" value=""></div>

        <input type="email" placeholder="Email-Adresse">
        <input type="submit" name="subscribe" value="Beantragen">

      </div>
    </form>

  </div>

</div>
