<head>

  <title>{% if page.title %}{{page.title}}{% else %}Usability Report | Usability & User Experience Blog{% endif %}</title>
  <!-- <link rel="stylesheet" href="/css/main.css"> -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> -->

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="google-site-verification" content="wvpMOLeiU128cCF6oaDe_SXEUQMzafbP2kPmgqkF2Sw">
  <meta name="description" content="Auf Usability Report erscheinen wöchentlich Artikel mit Tipps und Informationen für angehende Usabilty & User Experience Experten.">
  <meta name="keywords" content="usability, ux, user experience, johannes borchard">

  <link rel="shortcut icon" type="image/png" href="{{ " /assets/favicon.png " | prepend: site.baseurl }}">

  <meta property="og:locale" content="de_DE">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:site_name" content="{{ site.title }}">
  {% if page.image %} <meta property="og:image" content="{{ site.url }}/images/{{ page.image }}">
  {% else %} <meta content="/assets/profile-sq-bw.jpg" property="og:image"> {% endif %}
  <meta property="article:author" content="https://www.facebook.com/johannes.borchard.1" />

  <style media="screen">

    {% include main.css %}

    {% include header.css %}

    {% include post.css %}

    {% include footer.css %}

    {% include form.css %}

  </style>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62837996-3', 'auto');
  ga('send', 'pageview');
  </script>

</head>
