.header {
  text-align: center;
  text-transform: uppercase;
}

.title {
  letter-spacing: 3px;
  margin: 50px 0;

}

.title a {
  color: #333333;
  font-size: 25px;
  font-weight: 300;

  /*font-weight: 400;*/
}

.nav {
  list-style: none;
  padding: 20px 0;
  margin: 0;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  border-top: 2px solid #F2F2F2;
  border-bottom: 2px solid #F2F2F2;
}

.nav li {
  margin: 0 10px;
  display: inline-block;
}
