<head>

  <title>{{page.title}}</title>
  <meta name="description" content="{% if page.description %}<meta name=" description " content="{{ page.description }} ">{% endif %}">
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> -->

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="google-site-verification" content="wvpMOLeiU128cCF6oaDe_SXEUQMzafbP2kPmgqkF2Sw">

</head>
