<form action="//usabilityreport.us15.list-manage.com/subscribe/post?u=b505ff4d23b667225e930d91e&amp;id=d1bd351cfb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
  <div class="email-field" id="mc_embed_signup_scroll">

    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b505ff4d23b667225e930d91e_d1bd351cfb" tabindex="-1" value=""></div>

    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email-Adresse">
    <input type="submit" value="Beantragen" name="subscribe" id="mc-embedded-subscribe">

    <!-- Rückmeldung -->
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>

  </div>

</form>

<!-- .form {
  display: block;
  /*padding-top: 20px;*/
  margin-left: auto;
  margin-right: auto;

  /*border: solid red 2px;*/
}

@media only screen and (min-width: 451px) {
  .form input[type='email'] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    padding: 10px;
    font-size: 16px;
    width: 60%;
    /*width: 60px;*/
    margin-bottom: 5px;
    /*margin-left: 17px;*/

  }
  .form input[type='submit'] {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #e17e66;
    border: none;
    border-radius: 3px;
    padding: 10px;
    width: 33%;
    cursor: pointer;
    margin-left: 3px;


  }
}

@media only screen and (max-width: 450px) {
  .form input[type='email'] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    padding: 12px;
    width: 100%;
    font-size: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 5px;
  }
  .form input[type='submit'] {
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #e17e66;
    border: none;
    border-radius: 3px;
    padding: 12px;
    width: 100%;
    cursor: pointer;
  }
}

.button:hover {
  background-color: #e6947f;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


.form-background {
  padding: 10px;
  /*margin: 0;*/
  background-color: #F8F8F8;
  border-radius: 5px;
}

.form-background p {
  text-align: center;
  font-size: 16px;
}

#bear-trap {
  position: absolute;
  left: -5000px;
} -->




<!-- .input-container {
  border: solid 1px red;
  display: flex;
  justify-content: flex-end;
  /*padding: 10px 0;*/
  height: 40px

}

.form-background {
  padding: 10px;
  /*margin: 0;*/
  background-color: #F8F8F8;
  border-radius: 5px;
}

.form-background p {
  text-align: center;
  font-size: 16px;
}

@media only screen and (min-width: 451px) {
  .input-container input[type='email'] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    /*padding: 10px;*/
    font-size: 16px;
    width: 60%;
    padding-left: 5px;

    /*margin-bottom: 5px;*/
    /*margin-left: auto;*/
  }
  .input-container input[type='submit'] {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #e17e66;
    border: none;
    border-radius: 3px;
    /*padding: 10px;*/
    width: 33%;
    cursor: pointer;
    margin-left: 0px;
  }
} -->
