.read-time {
  margin: 20px 0;
  /*text-align: right;*/
}

.post-list ul {
  padding-left: 0;
  list-style: none;
}

.frontpage-link {
  font-size: 16px;
}

.post {
  margin-top: 50px;
  max-width: 100%;
  font-size: 15px;
}

.text h2 {
  padding-top: 20px;
}

/*.post p {
  font-family: 'Garamdond', serif;
}*/

.quote {
  font-size: 30px;
  font-family: 'Merriweather', serif;
  letter-spacing: -1px;
  line-height: 1.2em;
  padding-bottom: 10px;
}

blockquote {
  margin-left: 20px;
  padding-left: 15px;
  border-left: 3px #333333 solid;
}

/*.date {
  margin-right: 20px;
}

.tags {
  display: block;
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}

.tags a {
  color: #CCCCCC;
}

.tags ul {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.tags li {
  margin: 0;
  padding-right: 10px;
  display: inline;
}*/

.seperator {
  display: block;
  padding-bottom: 0;
  border-bottom: 2px solid #F2F2F2;
}

.pagination {
  text-align: center;
  font-size: 16px;
  color: #CCCCCC;
  margin-top: 50px;
}

.related {
  margin-top: 60px;
}

.related h4 {
  margin: 10px 0;
  font-size: 16px;
}

.category-head {
  margin-top: 50px;
}

#profile-picture {
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-top: 5px;
  width: 30%;
}

.author-info {
  margin-top: 50px;
  text-align: center;
}

.author-info img {
  border-radius: 50%;
  height: 20%;
  width: 20%;
  margin: 0 auto;
  padding: 0;
}
/*
.author-info p {
  text-align: left;
}*/

.name {
  display: block;
  margin: 20px auto;
  font-size: 20px;
  color: #333333;
  /*text-decoration: none;*/
}
