<div class="post">

  <h1>{{page.title}}</h1> {{content}}

  <div class="related">
    {% unless page.category == null %}

    <div class="seperator"></div>

    {% assign maxRelated = 4 %} {% assign minCommonTags = 1 %} {% assign maxRelatedCounter = 0 %}
    <div class="row">
      <h2>Diese Artikel könnten dir auch gefallen:</h2>
      {% for post in site.posts %} {% assign sameTagCount = 0 %} {% assign commonTags = '' %} {% for category in post.categories %}
      {% if post.url != page.url %} {% if page.categories contains category %} {% assign sameTagCount = sameTagCount | plus:
      1 %} {% capture tagmarkup %}
      <span class="label label-default">{{ category }}</span>
      {% endcapture %} {% assign commonTags = commonTags | append: tagmarkup %} {% endif %} {% endif %} {% endfor %} {% if sameTagCount >= minCommonTags %}

      <div>
        <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
      </div>
      
      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %} {% if maxRelatedCounter >= maxRelated %} {% break %} {% endif %} {% endif %} {% endfor %}
    </div>

    <div class="seperator"></div>

    {% endunless %}
  </div>
</div>
