---
layout: page
title: Alle Artikel nach Kategorien
permalink: /articles
description: Entdecke Artikel aus verschiednen Themenbereichen auf Usability Report
---

<!-- <div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>

    <h2 class="category-head">{{ category_name }}</h2>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h3>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div> -->

<div class="categories archive-group">
{% assign sorted_cats = site.categories | sort %}
{% for category in sorted_cats %}
{% assign sorted_posts = category[1] | reversed %}
<h2 class="category-head"id="{{category[0] | uri_escape | downcase }}">{{category[0] | capitalize}}</H2>
<ul>
  {% for post in sorted_posts %}
 	<li><h3><a href="{{ site.url }}{{ site.baseurl }}{{  post.url }}">{{  post.title }}</a></h3></li>
  {% endfor %}
</ul>
{% endfor %}
</div>
