<!DOCTYPE html>

<html lang="de">

{% include head.html %}

<body>

<div class="header">

  <div class="blogtitle" itemscope itemtype="http://schema.org/Organization">
    <h1><a href="/" itemprop="legalName">Usability Report</a></h1>
    <p>User Experience verstehen</p>
  </div>

  {% include navigation.html %}

</div>

{{content}}

{% include footer.html %}

<script type="text/javascript">
window._urq = window._urq || [];
_urq.push(['initSite', 'a37a4b98-4239-43fe-b934-6ea430270879']);
(function() {
var ur = document.createElement('script'); ur.type = 'text/javascript'; ur.async = true;
ur.src = ('https:' == document.location.protocol ? 'https://cdn.userreport.com/userreport.js' : 'http://cdn.userreport.com/userreport.js');
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ur, s);
})();

</body>

</html>
