<!DOCTYPE html>

<html lang="de">

{% include head.html %}

<style media="screen">

  {% include main.css %}

  {% include header.css %}

  {% include post.css %}

  {% include footer.css %}

  {% include form.css %}

</style>

<body>

<div class="header">

  <div class="blogtitle" itemscope itemtype="http://schema.org/Organization">
    <h1><a href="/" itemprop="legalName">Usability Report</a></h1>
    <p>User Experience verstehen</p>
  </div>

  {% include navigation.html %}

</div>

{{content}}

{% include footer.html %}

</body>

</html>
