<!DOCTYPE html>

<html lang="de">

{% include head_permalink.html %}

<body>

  <div class="header">

    <div class="blogtitle" itemscope itemtype="http://schema.org/Organization">
      <a href="/" itemprop="legalName">Usability Report</a>
      <p>User Experience verstehen</p>
    </div>

    {% include navigation.html %}

  </div>

  <div class="post">

    <h1>{{page.title}}</h1> {% include read-time.html %}

    <div class="text">
      {{content}}
    </div>

    <div class="author-info">
      <a href="/about"><img src="assets/profile-sq-bw.jpg" alt="profilbild"></a>
      <span class="name"><strong>Johannes Borchard</strong></span>
      <p>Ich studiere Mensch-Computer-Systeme an der JMU Würzburg und möchte <em>Usability & UX Consultant</em> werden.
      Erfahrungen und Erkentnisse teile ich auf diesem Blog.</p>
    </div>

    {% include related-articles.html %}


  </div>

  {% include footer.html %}

</body>

</html>
